*                   text=auto

# Text
*.yml               text
*.code-workspace    text
*.json              text
*.md                text

# Graphic
*.png               binary
*.jpg               binary
*.jpeg              binary
*.gif               binary
*.bmp               binary
*.ico               binary

# Asset

*.pdf               binary
