# dendron
node_modules
.dendron.*
build
seeds
.next
pods/service-connections

# dendron dependencies
dependencies/github.com/AsakawaP/*
# dependencies/localhost/*

# obsidian
.obsidian/plugins/*/**
!.obsidian/plugins/*/data.json
.obsidian/themes/*
.obsidian/community-plugins.json
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/graph.json
.obsidian/global-search.json
.trash

# syncthing
.stignore
.stfolder
